<% if !@expances_per_day.empty?  %>
  <% @expances_per_day.each do |amount| %>
  <% if amount.date != nil %>
    <tr id=<%= amount.id %>>
      <td class="date"><%= amount["date"] %></td>
      <td class="price"><%= amount["total"] %></td>
      <td>
        <%= form_for amount, url:("/trips/" + params[:trip_id] + "/budget/" + amount.id.to_s + "/" + amount["total"].to_s ), id:"edit_budget_form", method: "put" do |f| %>
          <%= f.text_field :total, class: "form-control" %>
          <span class="edit_budget"><%= f.submit "+", class: "btn btn-default" %></span>
          <!-- <span class="subtract_budget"><%= f.submit "-", class: "btn btn-default" %></span> -->
        <% end %>
      </td>
      <td><span class="delete"><%= link_to "x", "/trips/" + @trip.id.to_s + "/budget/" + amount["id"].to_s %></span></td>
    </tr>
    <% end %>
  <% end %>
<% else %>
<% end %>
